body {
  margin: 0 !important;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
  text-decoration: none;
  color: #000;
}
