body {
  margin: 0 !important;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
  text-decoration: none;
  color: #000;
}

.main-container {
  margin: 20px;
}

.small-eth {
  font-weight: 500;
  font-size: 0.9rem;
  color: #a1a1a1;
  margin-left: 5px;
  display: inline-block;
}
